* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(222, 226, 230);
  text-align: center;
}
.btns {
  display: flex;
  gap: 20px;
  margin: 20px;
}
.btns button {
  background-color: rgb(89, 89, 184);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
}
#list {
  margin: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
}

ul {
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.autor {
  font-weight: bold;
}

.coleccion {
  background-color: #c6b1c9;
  border-radius: 5px;
  margin: 5px;
}
